.avatar {
    width: 200px; /* Ajusta el tamaño del contenedor del avatar */
    height: 200px;
  }
  
  .profile-img {
    width: 100%; /* Hace que la imagen ocupe todo el espacio del contenedor */
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para que cubra el contenedor sin distorsión */
    border-radius: 50%; /* Mantiene la imagen redondeada */
  }
  